<h1>Gas Calculator</h1>

<form action="/result">
  <p>Enter the amount you spent.</p>
  
  <input type="number" name="amount">
  
  <p>Enter the gallons fueled.</p>
  
  <input type="number" name="gallons">
  
  <p><input type="submit"></p>
</form>